[inet_http_server]
port=*:9001
username={{ username }}
password={{ password }}

[supervisord]
logfile={{ log_dir }}/{{ hostname }}-supervisord.log                  ; supervisord log file
logfile_maxbytes=50MB                                                 ; maximum size of logfile before rotation
logfile_backups=10                                                    ; number of backed up logfiles
loglevel=error                                                        ; info, debug, warn, trace
pidfile={{ tmp_dir }}/supervisord.pid                                 ; pidfile location
nodaemon=false                                                        ; run supervisord as a daemon
minfds=1024                                                           ; number of startup file descriptors
minprocs=200                                                          ; number of process descriptors
nocleanup=true                                                        ; do not clean up log files at start
user=%(ENV_USER)s                                                     ; default user

[supervisorctl]
serverurl=http://localhost:9001
username={{ username }}
password={{ password }}
prompt={{ hostname }}-supervisor

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[eventlistener:fsupervisor]
environment={{ tdaq_environment }}
command=felix-supervisor -c {{ config_file }}
events=PROCESS_STATE
buffer_size=25
stderr_logfile={{ log_dir }}/{{ hostname }}-fsupervisor.log
autorestart=false

{# --- SETUP --- #}
[program:error-init]
command=/bin/bash -c "rm -f {{ error_out }} && mkfifo -m=664 {{ error_out }}"
priority=200
startsecs=0
stdout_logfile={{ log_dir }}/{{ hostname }}-error-init.out
stderr_logfile={{ log_dir }}/{{ hostname }}-error-init.err
autorestart=false
autostart=false

[program:stats-init]
command=/bin/bash -c "rm -f {{ stats_out }} && mkfifo -m=664 {{ stats_out }}"
priority=200
startsecs=0
stdout_logfile={{ log_dir }}/{{ hostname }}-stats-init.out
stderr_logfile={{ log_dir }}/{{ hostname }}-stats-init.err
autorestart=false
autostart=false

{# --- CONFIG:INIT, CONFIG:CONF --- #}
{%- for device, values in devices | dictsort -%}
{% if device|int is even %}
[program:init-c{{ values.card }}]
command=/bin/bash -c "flx-reset -d {{ device }} soft_reset && flx-init -c {{ values.card }} -{{ values.clock }}"
priority=100
startsecs=3
stdout_logfile={{ log_dir }}/{{ hostname }}-init-c{{ values.card }}.out
stderr_logfile={{ log_dir }}/{{ hostname }}-init-c{{ values.card }}.err
autorestart=false
autostart=false
{% endif %}
{%- endfor -%}

{%- if not disable_daq -%}
{% for device, values in devices | dictsort %}
[program:conf-d{{ device }}]
command=feconf -d {{ device }} {{ config_dir }}/{{ values.elink_config }}
priority=200
startsecs=0
stdout_logfile={{ log_dir }}/{{ hostname }}-conf-d{{ device }}.out
stderr_logfile={{ log_dir }}/{{ hostname }}-conf-d{{ device }}.err
autorestart=false
autostart=false
{% endfor %}
{%- endif -%}

{# --- DAQ:TOHOST --- #}
{%- for device, values in devices | dictsort -%}
{%- if (values.direction == 'tohost' or values.direction == 'both') %}
[program:tohost-d{{ device }}]
{%- if dcs_unbuffered %}
command=felix-tohost --free-cmem --bus-dir {{ bus_dir }} --bus-groupname {{ bus_groupname }} --ttc-unbuffered --dcs-unbuffered --did {{ "0x%02x" % (values.did) }} --cid {{ "0x%04x" % (values.cid) }} --device {{ device }} --error-out {{ error_out }} --iface {{ values.iface }} --stats-out {{ stats_out }}
{%- else %}
command=felix-tohost --free-cmem --bus-dir {{ bus_dir }} --bus-groupname {{ bus_groupname }} --ttc-unbuffered --dcs-watermark {{ dcs_watermark }} --did {{ "0x%02x" % (values.did) }} --cid {{ "0x%04x" % (values.cid) }} --device {{ device }} --error-out {{ error_out }} --iface {{ values.iface }} --stats-out {{ stats_out }}
{%- endif %}
priority=500
numprocs=1
autorestart=unexpected
startsecs=5
startretries=3
user=%(ENV_USER)s
stdout_logfile={{ log_dir }}/{{ hostname }}-tohost-d{{ device }}.out
stderr_logfile={{ log_dir }}/{{ hostname }}-tohost-d{{ device }}.err
autostart=false
stopsignal=INT
{% endif %}
{%- endfor -%}

{# --- DAQ:TOFLX --- #}
{%- for device, values in devices | dictsort -%}
{%- if (values.direction == 'toflx' or values.direction == 'both') %}
[program:toflx-d{{ device }}]
command=felix-toflx --free-cmem --unbuffered --cdma --bus-dir {{ bus_dir }} --bus-groupname {{ bus_groupname }} --did {{ "0x%02x" % (values.did) }} --cid {{ "0x%04x" % (values.cid) }} --device {{ device }} --error-out {{ error_out }} --iface {{ values.iface }} --stats-out {{ stats_out }}
priority=500
numprocs=1
autorestart=unexpected
startsecs=5
startretries=3
user=%(ENV_USER)s
stdout_logfile={{ log_dir }}/{{ hostname }}-toflx-d{{ device }}.out
stderr_logfile={{ log_dir }}/{{ hostname }}-toflx-d{{ device }}.err
autostart=false
stopsignal=INT
{% endif %}
{%- endfor -%}

{# --- DAQ:REGISTER --- #}
{%- if not disable_daq %}
[program:register]
command=felix-register --bus-dir {{ bus_dir }} --bus-groupname {{ bus_groupname }} --error-out {{ error_out }} {{ devices.0.iface }}{{ ' ' }}
{%- for device, values in devices | dictsort -%}
{{ device }} {{ "0x%02x" % (values.did) }} {{ "0x%04x" % (values.cid) }}{{ " " if not loop.last else "\n" }}
{%- endfor -%}
priority=500
numprocs=1
autorestart=unexpected
startsecs=5
startretries=3
user=%(ENV_USER)s
stdout_logfile={{ log_dir }}/{{ hostname }}-register.out
stderr_logfile={{ log_dir }}/{{ hostname }}-register.err
autostart=false
stopsignal=INT
{%- endif %}

{# --- MON:FELIX2ATLAS --- #}
{%- if not disable_daq -%}
[program:felix2atlas]
command=tdaq-felix2atlas -p initial -e "{{ error_out }}" -i "{{ stats_out }}" -t {{ tdaq_release }}
priority=500
numprocs=1
autorestart=unexpected
startsecs=5
startretries=3
user=%(ENV_USER)s
stdout_logfile={{ log_dir }}/{{ hostname }}-felix2atlas.out
stderr_logfile={{ log_dir }}/{{ hostname }}-felix2atlas.err
autostart=false
stopsignal=INT
stopasgroup=true
killasgroup=true
{% endif %}

{# --- GROUPS --- #}
[group:10_setup]
programs=error-init, stats-init
autostart=false

[group:20_init_blocking]
programs=
{%- for device, values in devices | dictsort -%}
{%- if device|int is even -%}
init-c{{ values.card }}
{%- endif -%}
{%- if device|int is odd -%}
{{ ", " if not loop.last else "" }}
{%- endif -%}
{%- endfor %}
autostart=false

{% if not disable_daq -%}
[group:30_config_blocking]
programs=
{%- for device, values in devices | dictsort -%}
conf-d{{ device }}{{ ", " if not loop.last else "" }}
{%- endfor %}
autostart=false
{%- endif %}

{% if not disable_daq -%}
[group:40_daq]
programs=register,
{%- for device, values in devices | dictsort -%}
{%- if values.direction == 'tohost' -%}
tohost-d{{ device }}{{ ", " if not loop.last else "" }}
{%- endif -%}
{%- if values.direction == 'toflx' -%}
toflx-d{{ device }}{{ ", " if not loop.last else "" }}
{%- endif -%}
{%- if values.direction == 'both' -%}
tohost-d{{ device }}{{ ", " }}toflx-d{{ device }}{{ ", " if not loop.last else "" }}
{%- endif -%}
{%- endfor %}
autostart=false
{%- endif %}

{% if not disable_daq -%}
[group:50_mon]
programs=felix2atlas
autostart=false
{%- endif %}

{# --- USER PROGRAMS and GROUPS --- #}
{% include 'supervisord-user.conf.jinja' ignore missing with context %}
