[program:dummy]
command=ls
process_name=dummy
priority=500
numprocs=1
autorestart=unexpected
startsecs=5
startretries=3
user=%(ENV_USER)s
stdout_logfile={{ log_dir }}/{{ hostname }}-dummy.out
stderr_logfile={{ log_dir }}/{{ hostname }}-dummy.err
autostart=false
stopsignal=INT

[group:21_user_init_blocking]
programs=dummy
autostart=false
